@font-face {
    font-family: "Open Sans";
    src: url('https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Open Sans";
    src: url('https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff');
    font-weight: 700;
    font-style: bold;
  }
  
  body {
    font-family: Open Sans, Arial, sans-serif;
    margin: 0;
  }
  
  .header {
    background-image: url("../img/football_767.jpg");
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;

    padding-top: 40px;
    padding-bottom: 80px;
    
    height: 100vh;
    width: 100%;
    max-width: 320px;
  }
  
  .header::after{
    content:"";
    background-color: #0a0e34;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .container {
      position: relative;
      z-index: 1;
      max-width: 280px;
      margin: 0 auto;
      display: flex;
  }

  .logo {
    justify-content: center;
    margin-bottom: 145px;
  }
  
  .logo-img {
      fill: #ffffff;
      height: 32px;
  }

  .titles, .buttons {
    flex-wrap: wrap;
  }
  
  .title {
    font-size: 28px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2; 
    text-transform: uppercase;
    margin: 0;
  }
  
  .title:nth-last-child(1) {
    padding-left: 45px;
    padding-top: 25px;
  }

  .buttons {
    margin-top: 90px;
  }

  .button {
    background-color: #5e42b0;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    padding-left: 80px;
    border-radius: 25px;
    display: flex;
    
  }

  .button:nth-last-child(1) {
    margin-top: 15px;
  }
  .button-img {
    height: 24px;
    fill: #ffffff;
    margin-right: 10px;
  }

  .button-text {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 8px;
    line-height: 1.2;
    align-self: center;
  }

  
  .text-decoration {
    font-weight: bold;
  }
  
  .athlets {
    display: flex;
    flex-wrap: wrap;
    max-width: 320px;
    
  }
  .section-title {
    font-size: 55px;
    color: rgb(231, 231, 231);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    margin: 0 20px;
    margin-top: 25px;
  }
  
  .section-item {
    padding: 60px 20px;
  }

  .section-item:nth-child(3n-1) {
    background-color: #fafafa;
  }

  .section-item:nth-child(3n) {
    background-color: #f5f4f9;
  }

  .section-item:nth-child(3n+1) {
    background-color: #5e42b0;
    color: #ffffff;
  }
  
  .sections-img {
    display: block;
    margin: 0 auto;
  }

  .section-item-title {
    display: flex;
  }

  .item-title {
    font-size: 23px;
    color: rgb(193, 193, 193);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    margin-left: 10px;
  }
  
  .number {
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin: 0;
  }
  
  .number::after {
    content:"";
    display: block;
    width: 15px;
    border-bottom: 4px solid #5e42b0;
  }
  
  .number:nth-child(3)::after {
    content:"";
    display: block;
    width: 15px;
    border-bottom: 4px solid #ffffff;
  }

  
  