@font-face {
    font-family: "Open Sans";
    src: url('https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Open Sans";
    src: url('https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff');
    font-weight: 700;
    font-style: bold;
  }
  
  
  @media (max-width: 640px) {
    
    .header {
      background-image: url("../img/football_767.jpg");

      padding-top: 12%;
      padding-bottom: 25%;
    }
    
    .container {
      width: 88%;
      margin: 0 auto;
      justify-content: center;
  }

    .logo {
      margin-bottom: 40%;
    }
    
    .logo-img {
        height: 32px;
    }
    
    .titles {
      width: 280px;
    }

    .title {
      font-size: 1.75rem;
    }

    .title-decoration {
      padding-left: 15%;
      margin-bottom: 18%;
    }

    .titles, .buttons, .footer-titles {
      flex-wrap: wrap;
    }

    .buttons {
      width: 280px;
    }

    .button {
      width: 280px;
    }
  
    .button:nth-last-child(1) {
      margin-top: 15px;
    }

    .button-img {
      margin-right: 5px;
    }

    .button-text {
      font-size: 8px;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 80px;
      border-radius: 25px;
    }

    .apple {
      padding-right: 85px;
    }
  
    .google {
      padding-right: 115px;
    }

    .section-img {
      margin: 0 auto;
      position: relative;
      top: 50px;
    }

    .section-item {
      padding: 18% 6%;
    }

    .section-item:nth-of-type(1) {
      padding-top: 80px;
    }

    .section-title {
      font-size: 3rem;
      margin: 0 6%;
      margin-top: 25px;
    }

    .item-title,.article-title {
      font-size: 1.4rem;
    }
  
    .item-title::before {
      font-size: 0.87rem;
    }

    .decoration {
      font-size: 0.87rem;
      padding: 30px;
    }

    .decoration::after {
      width: 15px;
      left: calc(50% - 7px);
      top: calc(50% + 0.7em);
    }

    .footer {
      background-image: url("../img/game_767.jpg");
  
      padding-top: 30%;
      padding-bottom: 6%;
    }

    .footer-logo-img {
      width: 72px;
      height: 74px;
      padding: 10px;
      border-radius: 25px;
      margin-bottom: 60px;
    }
    
    .footer-title {
      font-size: 2rem;
      margin: 0;
    }
    
    .footer-subtitle {
      font-size: 0.87rem;
      margin: 0;
      margin-bottom: 23%;
    }
  
    .logo-footer-down {
      margin: 0 auto;
      padding-top: 50px;
    }
  
  }

  @media (max-width: 640px) and (orientation: landscape) {
    
    .header {
      background-image: url("../img/football_767.jpg");

      padding-top: 6%;
      padding-bottom: 12%;
    }
    
    .container {
      width: 88%;
      margin: 0 auto;
      justify-content: center;
  }

    .logo {
      margin-bottom: 20%;
    }
    
    .titles {
      width: 280px;
    }

    .section-item {
      padding: 10% 3%;
    }

    .section-item:nth-of-type(1) {
      padding-top: 60px;
    }

    .footer {
      background-image: url("../img/game_767.jpg");
  
      padding-top: 15%;
      padding-bottom: 3%;
    }
    
    .logo-footer-down {
      margin: 0 auto;
      padding-top: 50px;
    }
  
  }

  @media (min-width: 641px) and (max-width: 960px) {

    .header {
      background-image: url("../img/football_1280.jpg");

      padding-top: 5%;
      padding-bottom: 12%;
    }

    .container {
      width: 82%;
      margin: 0 auto;
  }

    .logo {
      margin-bottom: 23%;
    }

    .logo-img {
      height: 56px;
    }

    .titles {
      width: 590px;
    }
    
    .title {
      font-size: 4rem;
    }

    .title-decoration {
      padding-left: 16%;
      margin-bottom: 40%;
    }

    .buttons {
      width:85%;
    }

    .button {
      width: 310px;
    }

    .button:nth-last-child(1) {
      margin-left: 4%;
    }

    .button-img {
      margin-right: 30px;
    }

    .button-text {
      font-size: 14px;
      padding-top: 25px;
      padding-bottom: 25px;
      padding-left: 50px;
      border-radius: 40px;
      
    }

    .apple {
      padding-right: 8%;
    }
  
    .google {
      padding-right: 10%;
    }

    .section {
      position: relative;
      overflow: hidden;
    }

    .section-img {
      position: absolute;
    }

    .football+.section-img {
      right: 500px;
      margin-top: 95px;
      height: 700px;
    }

    .basketball+.section-img {
      right: -245px;
      margin-top: 39px;
      height: 570px;
    }

    .section-item {
      padding: 5% 0;
    }

    .section-item:nth-of-type(1) {
      padding-top: 7%;
    }
    
    .football~.section-item{
      padding-left: 37.5%;
      padding-right: 3.5%
    }

    .basketball~.section-item{
      padding-left: 3.5%;
      padding-right: 46.5%;
    }

    .section-title, .article-title {
      font-size: 5rem;
      margin: 0;
      margin-top: 86px;
    }

    .article-title {
      opacity: 0.4;
    }

    .football {
      margin-left: 37.5%;
    }

    .basketball {
      margin-left: 3.5%;
    }

    .item-title{
      font-size: 1.4rem;
    }
  
    .item-title::before {
      font-size: 0.87rem;
    }

    .decoration {
      font-size: 1.5rem;
      padding: 50px;
    }

    .decoration::after {
      width: 30px;
      left: calc(50% - 15px);
      top: calc(50% + 0.7em);
    }

    .footer {
      background-image: url("../img/game_1280.jpg");
  
      padding-top: 16%;
      padding-bottom: 3%;
    }

    .footer-logo-img {
      width: 130px;
      height: 137px;
      padding: 15px;
      border-radius: 25px;
      margin-bottom: 125px;
    }
    
    .footer-titles {
      flex-direction: column;
      align-items: center;
      margin:0;
      width: 100%
    }

    .footer-title {
      font-size: 5rem;
      margin: 0;
    }
    
    .footer-subtitle {
      font-size: 2.25rem;
      margin: 0;
      margin-bottom: 37%;
    }
  
    .logo-footer-down {
      margin: 0;
      padding-top: 50px;
    }

    
  }

  @media (min-width: 961px) and (max-width: 1920px) {
    .header {
      background-image: url("../img/football_1280.jpg");

      padding-top: 2%;
      padding-bottom: 6%;
    }

    .logo-img {
      height: 52px;
  }
}

  @media (min-width: 1921px) {
    .header {
      background-image: url("../img/football_1920.jpg");
    }
  }

  body {
    font-family: Open Sans, Arial, sans-serif;
    margin: 0;
  }
  
  .header {
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;

    box-sizing: border-box;
    
    
    height: 100%;
    width: 100%;
  }
  
  .header::after{
    content:"";
    background-color: #0a0e34;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
}

  .logo-img {
      fill: #ffffff;
  }

  
  
  .title {
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2; 
    text-transform: uppercase;
    margin: 0;
  }
  
  .title-decoration {
    display: block;
  }

  .button {
    display: flex;

  }

  .button-img {
    height: 24px;
    fill: #ffffff;
    display: block;
    float: left;
  }

  .button-text {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.2;
    align-self: center;
    background-color: #5e42b0;
    width: 100%;
  }
  
  .text-decoration {
    font-weight: bold;
    display: block;
  }
  
  .section {
    display: flex;
    flex-direction: column;
    counter-reset: number;
  }

  .section-title {
    color: rgb(231, 231, 231);
    font-weight: bold;
    text-transform: uppercase;
  }

  .section-item:nth-of-type(1) {
    background-color: #fafafa;
  }

  .section-item:nth-of-type(2) {
    background-color: #f5f4f9;
  }

  .section-item:nth-of-type(3) {
    background-color: #5e42b0;
    color: #ffffff;
  }

  .section .section-background {
    background-color: #0a0e34;
  
  }
  
  .section-img {
    display: block;
  }

  .item-title,.article-title {
    color: rgb(193, 193, 193);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    margin-left: 10px;
  }

  .item-title::before {
    counter-increment: number;
    content: "0" counter(number);
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin: 0;
    margin-right: 10px;
    border-bottom: 4px solid #5e42b0;
    position: relative;
    top: -5px;
  }
  

  .growth_football::before {
    border-bottom: 4px solid #ffffff;
  }

  .growth_basketball::before {
    color: #8765dd;
    border-bottom: 4px solid #ffffff;
  }
  
  .article-title {
    margin: 0;
  }

  .article-text {
    padding: 0 6%;
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .item-img {
    width: 100%;
  }
  
  /* .decoration {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-color: #5e42b0;
    border-bottom: 4px solid rgb(255, 255, 255, 0.3);
    position: relative;
    top: -80px;
  }

  .decoration::before {
    content: "";
    width: 30px;
    height: 30px;
    background-color: #5e42b0;
    position: relative;
  } */
  .decoration {
    font-weight: bold;
    background-color: #5e42b0;
    color: #ffffff;
    margin-right: 10px;
    position: relative;
    top: -80px;
  }

  .decoration::after {
    content: "";
    border-bottom: 4px solid rgb(255, 255, 255, 0.3);
    position: absolute;
  }
 
  .footer {
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;

    box-sizing: border-box;
    
    height: 100%;
    width: 100%;
  }
  
  .footer::after{
    content:"";
    background-color: #0a0e34;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .footer-logo-img {
    fill: #ffffff;
    background-image: linear-gradient(#7655d6, #51389c);
  }
  
  .footer-title {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
  }
  
  .footer-subtitle {
    color: rgb(155, 142, 193);
    text-transform: uppercase;
    line-height: 1.2;
  }
  
  
  